/* --- CONFIGURAÇÕES GERAIS --- */

/* Reset */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #2f3437;
    background-color: #fffaf4;
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.6; */
    /* RETIRAR */
}

h1, h2, h3 {
    margin-top: 0;
    color: #244b45;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    /* line-height: 1.2; */
    /* RETIRAR */
}

h1 { font-size: 42px; }

h2 { font-size: 30px; }

h3 { font-size: 21px };

p { margin-top: 0; }

img {
    /* display: block; */
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.centro {
    text-align: center;
}

/* --- TOPO e LOGOTIPO --- */

.topo {
    background-color: #ffffff;
    border-bottom: solid 1px #dde9e5;
    padding: 8px 0;
}

.logo {
    display: inline-block;
    width: 32%;
    color: #244b45;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
}

.logo img {
    width: 48px;
    vertical-align: middle;
}

.logo span {
    color: #f28c79;
}

.menu {
    display: inline-block;
    width: 66%;
    text-align: right;
    vertical-align: middle;
}

.menu ul {
    list-style-type: none;
    display: inline-block;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 10px 12px;
    color: #244b45;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

/* Quando passar o mouse sobre E quando o
elemento A (anchor) tiver a classe menu-atual */
.menu a:hover, .menu a.menu-atual {
    background-color: #244b45;
    color: #ffffff;
}

.banner {
    min-height: 500px;
    padding: 75px 0;
    background-color: #ddeee7;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
}

.banner-conteudo {
    width: 54%;
    max-width: 580px;
    padding: 35px;
    background-color: #fff7ed;
    border-left: solid 8px #f28c79;
    border-radius: 16px;
}


/* --- PÁGINAS INTERNAS --- */

.cabecalho-pagina {
    padding: 55px 0;
    background-color: #ddeee7;
    border-bottom: solid 5px #f28c79;
    text-align: center;
}


/* --- TEXTOS E LINKS --- */

.texto-destaque {
    margin-bottom: 8px;
    color: #d86654;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.botao {
    margin-top: 12px;
    padding: 12px 20px;
    color: #ffffff;
    background-color: #f28c79;
    border: solid 2px #f28c79;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.botao:hover {
    color: #f28c79;
    background-color: #ffffff;
}

.link-destaque {
    color: #d86654;
    font-weight: 700;
    text-decoration: none;
}

.link-destaque:hover {
    text-decoration: underline;
}

/* --- ÍCONES --- */
i {
    font-size: 48px;
    color: #f28c79;
    margin-bottom: 16px;
}


/* --- SEÇÕES E CARTÕES --- */

.secao {
    padding: 65px 0;
}

.secao-clara {
    background-color: #ffffff;
}

.cartao, .cartao-produto {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    background-color: #ffffff;
    border: solid 2px #dde9e5;
    border-radius: 16px;
    vertical-align: top;
}

.cartao {
    min-height: 265px;
    /* AJUSTAR A ALTURA */
    padding: 28px;
}

.cartao-produto {
    overflow: hidden;
}

.cartao-produto img {
    width: 100%;
    border-bottom: solid 5px #f28c79;
}

.conteudo-cartao {
    padding: 24px;
}


.icone {
    margin-bottom: 16px;
    font-size: 36px;
}


/* --- PÁGINA SOBRE --- */

.imagem-sobre {
    display: inline-block;
    width: 40%;
    border: solid 6px #ddeee7;
    border-radius: 16px;
    vertical-align: middle;
}

.texto-sobre {
    display: inline-block;
    width: 52%;
    margin-left: 5%;
    vertical-align: middle;
}

/* --- RODAPÉ --- */

.rodape {
    background-color: #244b45;
    color: #dde9e5;
    text-align: center;
    padding: 38px 20px;
}

/* .rodape p {
    margin-bottom: 8px;
} */

.rodape img {
    width: 48px;
}

.nome-rodape {
    font-size: 24px;
    font-weight: 700;
}

.copy {
    color: #91a09b;
    font-size: 12px;
}